          <area onmouseover="d(this)" onmouseout="e(this)" shape="rect" coords="0,0,10,10" href="http://www.friendsofnightpeople.com/" title="Donated to Friends of the Night People in Buffalo, NY"/>
          <area onmouseover="d(this)" onmouseout="e(this)" shape="rect" coords="10,0,20,10" href="http://www.donorschoose.org/" title="Teachers ask. You choose."/>
          <area onmouseover="d(this)" onmouseout="e(this)" shape="rect" coords="480,0,490,10" href="https://www.khanacademy.org/" title="Khan Academy helps ~numbermumbler mumble numbers better!!!1!"/>
          <area onmouseover="d(this)" onmouseout="e(this)" shape="rect" coords="20,0,120,50" href="https://meh.com/" title="The classic daily deal site returns"/>
          <area onmouseover="d(this)" onmouseout="e(this)" shape="rect" coords="490,0,530,40" href="https://meh.com/" title="The classic daily deal site returns"/>
          <area onmouseover="d(this)" onmouseout="e(this)" shape="rect" coords="150,390,190,430" href="https://meh.com/" title="The classic daily deal site returns"/>
          <area onmouseover="d(this)" onmouseout="e(this)" shape="rect" coords="830,860,870,900" href="https://meh.com/" title="The classic daily deal site returns"/>
          <area onmouseover="d(this)" onmouseout="e(this)" shape="rect" coords="240,320,280,360" href="https://meh.com/" title="The classic daily deal site returns"/>
          <area onmouseover="d(this)" onmouseout="e(this)" shape="rect" coords="720,220,760,260" href="https://meh.com/" title="The classic daily deal site returns"/>
          <area onmouseover="d(this)" onmouseout="e(this)" shape="rect" coords="180,540,220,580" href="https://meh.com/" title="The classic daily deal site returns"/>
