        <li><a href="http://www.friendsofnightpeople.com/" alt="Donated to Friends of the Night People in Buffalo, NY">Nick Quaranto</a> donated $100</li>
        <li><a href="http://www.donorschoose.org/" alt="Teachers ask. You choose.">Beau Gunderson</a> donated $100</li>
        <li><a href="https://www.khanacademy.org/" alt="Khan Academy helps ~numbermumbler mumble numbers better!!!1!">David Janke</a> donated $100</li>
        <li><a href="https://meh.com/" alt="The classic daily deal site returns">Dave Rutledge</a> donated $5000</li>
