<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head><title>The Million Dollar Givepage - Give for a piece of internet history!</title>
<META NAME="ROBOTS" CONTENT="ALL">
<link rel="stylesheet" type="text/css" href="style.css">
</head><body bgcolor=#000000>

<div id="d" style="position:absolute;z-index:99;left:0px;top:0px;border: #ff0000 1px solid; background: #ffffff;">
<span id="xcoord"></span><span id="ycoord"></span>
</div>

<center>
<table STYLE="position:relative; LEFT: 0; TOP: 0; z-index: 0;" border=0 bgcolor=#e1e1e1 cellpadding=0 cellspacing=0 width=1002>
<tr><td id="tablebreak" width=1></td><td>

<div id="toplogo">
	<a target="_self" href="http://milliondollargivepage.com"><img src="logo.png" border=0 width=360 height=36 alt="The Million Dollar Givepage" STYLE="position:absolute; LEFT: 11; TOP: 7px; z-index: 1;"></a>
	<div STYLE="background:#646464;position:absolute; LEFT: 405; TOP: 0px; z-index: 1; height:44px;width:428px;"><table cellpadding="0" cellspacing="0" border="0">
      <table cellpadding="0" cellspacing="0" border="0">
	<tbody><tr><td colspan="2"><a href="give.html"><img src="toptag2top.png" width="428" height="24" border="0" alt="1,000,000 pixels - $1 per pixel - Own a piece of internet history!"></a></td></tr>
    <tr><td width="139"><a href="javascript:tz();"><a href="javascript:tn();"><img title="Show available spaces in green" border="0" id="sn" src="negative.jpg" width="46" height="17" alt="Negative"></a><a href="javascript:da2();"><img title="Show the page normally" border="0" id="so" src="normal_on.jpg" width="46" height="17" alt="Normal"></a></td><td width="289"><a href="give.html"><font width="289" height="20" border="0" style="font-style:italic;color:#00E300;text-decoration:none;font-weight:normal">Donate to your favorite charity, get pixels. That's it.</font></a></td></tr>
	</tbody></table>
	</div>
  <div id="stats"><font id="stat1">Donated:</font> <font id="statgreen">$5300</font><br><font id="stat1">Available:</font> <font id="statgreen">994,700</font></div>
</div>

</td><td id="tablebreak" width=1></td></tr>
<tr><td id="tablebreak" width=1></td><td bgcolor=#d9ab22 background="navbg.gif" height=20>

<center>
<a class="nav" href="http://milliondollargivepage.com">Givepage</a> &nbsp;|&nbsp; <a class="nav" href="give.html">Give Pixels</a> &nbsp;|&nbsp; <a class="nav" href="#">FAQ</a> &nbsp;|&nbsp; <a class="nav" href="#">Blog</a> &nbsp;|&nbsp; <a class="nav" href="pixellist.html">Pixel List</a> &nbsp;|&nbsp; <a class="nav" href="#">Press</a> &nbsp;|&nbsp; <a class="nav" href="#">Testimonials</a> &nbsp;|&nbsp; <a class="nav" href="http://www.twitter.com/qrush">Contact me</a>
</center>

</td><td id="tablebreak" width=1></td></tr>
<tr><td id="tablebreak" colspan=3></td></tr>

<tr><td id="tablebreak" width=1></td></tr>

{{ content }}
<!-- end actual page content -->

<tr><td id="note" height=24 colspan=3>The Million Dollar Givepage &copy; 2014 Nick Quaranto. No rights reserved. I am not responsible for the content of external sites. Images featured on homepage are &copy; of their respective owners.<br>Yes, this is a blatant ripoff of Million Dollar Homepage and I am ashamed of it. Please don't sue me.
<br>

</td></tr>
</table>
</center>

</body>
</html>
